.post {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.69);
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.69);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.69);
    margin: 30px 0;
}

.postWrapper {
    padding: 10px;
}

.postTop {
   display: flex;
   align-items: center;
   justify-content: space-between;

}

.postTopleft {
    display: flex;
    align-items: center;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postUsername {
    font-size: 15px;
    font-weight: 500;
    margin: 0 10px;
}

.postDate {
    font-size: 12px;
}

.postCenter {
    margin: 20px 0;
}

.postImg {
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postBottomLeft {
    display: flex;
    align-items: center;
}

.likeIcon {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCouter {
    font-size: 15px;
}

.postCommentText {
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}
.postBottomComment {
    border-radius: 5px ;
    border: solid 1px #ddd ;
    padding: 10px;
    display: flex;
}
.commentInput {
    margin: 0px 10px; 
    border-radius: 24px;
    flex : 1;
}
.commentInput:focus,.commentInput:hover{
    border:solid #007bff; /* Change the border color to blue when focused */
  outline: none;
  /* khi được focus thì bỏ đường viền cũ nếu không nó sẽ bị đè lên nhau*/
}
.commentAvatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
/* MyComponent.css */

.sendButton{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;
    background: none;
}
.sendButton:hover{
    background-color: grey;
    cursor: pointer;
}
.sendIcon{
    /* display : flex giúp nó chiếm đúng bằng nội dung bên trong */
    display: flex; 
    align-items: center;
    justify-content: center;
}
  